<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('header') -%>
    <div class="content">
      <h3>Welcome to your Shopping App Inventory</h3>
      <p>This is the summary of products:</p>
    </div>
  </body>
</html>
